* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#scene {
  min-width: 50vh;
  min-height: 50vh;
  padding: 20px;
  margin: 2px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-cont