* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#scene {
  max-width: 306px;
  min-height: 75vh;
  padding: 2px;
  margin: 2px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#scene-header {
  display: flex;
  justify-content: space-between;
}
#scene-messages {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  align-items: center;
}

#scene-body {
}
#scene-footer {
  display: flex;
  justify-content: space-between;
}

#start-btn {
  width: 60px;
  height: 40px;
}

hr {
  margin: 5px 20px;
}

.grid {
  width: 3px00;
  height: 300px;

  display: flex;
  flex-wrap: wrap;
}
.grid div {
  width: 20px;
  height: 20px;
}
.invader {
  background-color: purple;
  border-radius: 10px;
}
.shooter {
  background-color: green;
}
