.wrapper {
  border: 1px solid black;
  border-radius: 10px;
  width: 270px;
  height: 330px;
}
button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
#result {
  width: 270px;
  height: 150px;
  border-bottom: 1px solid gray;
  border-radius: 10px;
}
