.wrapper {
  border: 1px solid black;
  border-radius: 10px;
  width: 315px;
  height: 525px;
}
button {
  margin: 0.25px;
  width: 75px;
  height: 75px;
}
#output {
  width: 300px;
  height: 150px;
  border-bottom: 1px solid red;
}
