* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  border: 1px solid black;
  border-top: 10px;
  width: 274px;
  height: 350px;
}
#buttons {
  display: inline-block;
}
#left-side {
  width: 211px;
  align-items: left;
}
#right-side {
  align-items: right;
}
button {
  border: 0.25px solid black;
  width: 50px;
  height: 50px;
}
#equals {
  height: 200px;
}
#btn-0 {
  width: 104px;
}
#display {
  padding: 15px;
  width: 270px;
  height: 100px;
  text-align: right;
  border-bottom: 1px solid gray;
  border-radius: 10px;
}
#equation {
  opacity: 0.4;
  font-size: 20px;
  /* overflow: hidden; */
}
#total {
  font-size: 30px;
}
#temp-result {
  font-size: 20px;
  text-align: left;
}
