* {
  box-sizing: border-box;
}
.wrapper {
  border: 1px solid black;
  border-radius: 10px;
  width: 270px;
  height: 350px;
}
#buttons {
  display: flex;
}
button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
#equals {
  height: 150px;
}
#btn-0 {
  width: 1106px;
}
#display {
  padding: 15px;
  width: 270px;
  height: 100px;
  text-align: right;
  border-bottom: 1px solid gray;
  border-radius: 10px;
}
#equation {
  opacity: 0.4;
  font-size: 20px;
  /* overflow: hidden; */
}
#total {
  font-size: 30px;
}
#temp-result {
  font-size: 20px;
  text-align: left;
}
